@model ContatoModel

@{
    ViewData["Title"] = "Adicionar Contato";
}

<div class="text-center">

<h1 class="display-4">Cadastrar Contato</h1>

</div>

<form asp-controller="Contato" asp-action="Criar" method="post">

    <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do contato" id="name" >
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="mb-3">
        <label for="email" class="form-label" aria-describedby="emailHelp">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o e-mail do contato" id="email" />
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="mb-3">
        <label for="cel" class="form-label">Celular</label>
        <input type="tel" asp-for="Celular" class="form-control" placeholder="Digite o celular do contato" id="cel">
        @Html.ValidationMessageFor(x => x.Celular)
    </div>

    <button type="submit" class="btn btn-primary col-lg-1 text-white">Salvar</button>
    <a class="btn btn-secondary col-lg-1 text-white" role="button" asp-controller="Contato" asp-action="Index">Voltar</a>

</form>